.content_inputs {
    width: 300px;
    height: 100px;
    margin: auto;
    margin-top: 260px;
    padding: 10px;
    line-break:auto;
    
    
}
body {
    height: 100vh;
    background-image: url('https://wallpaperplay.com/walls/full/f/f/1/122862.jpg');
    background-size: cover;
}
